.rc-slider {
    position: relative;
    width: 100%;
    height: 14px;
    padding: 5px 0;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #d1d1d1;
    border-radius: 6px;
}
.rc-slider-track {
    position: absolute;
    height: 4px;
    background-color: #7b61ff;
    border-radius: 6px;
}
.rc-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px #7b61ff;
    border-radius: 50%;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 0.8;
    touch-action: pan-x;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #7b61ff;
    box-shadow: 0 0 0 5px #7b61ff;
}
.rc-slider-handle:focus {
    outline: none;
    box-shadow: none;
}
.rc-slider-handle:focus-visible {
    border-color: #7b61ff;
    box-shadow: 0 0 0 3px #7b61ff;
}
.rc-slider-handle-click-focused:focus {
    border-color: #7b61ff;
    box-shadow: unset;
}
.rc-slider-handle:hover {
    border-color: #7b61ff;
}
.rc-slider-handle:active {
    border-color: #7b61ff;
    box-shadow: 0 0 5px #7b61ff;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.rc-slider-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
}
.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    color: #999;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.rc-slider-mark-text-active {
    color: #666;
}
.rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
    pointer-events: none;
}
.rc-slider-dot {
    position: absolute;
    bottom: -2px;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    background-color: #fff;
    border: 2px solid #e9e9e9;
    border-radius: 50%;
    cursor: pointer;
}
.rc-slider-dot-active {
    border-color: #7b61ff;
}
