@tailwind base;
@tailwind components;
@tailwind utilities;

.color-gradient-light {
    background: linear-gradient(90.21deg, #f9d0e3, #d2c7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient {
    background: linear-gradient(90.21deg, #ec6ca9 11.91%, #7b61ff 91.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient-start {
    background: linear-gradient(90.21deg, #ec6ca9 11.91%, #9263ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient-end {
    background: linear-gradient(90.21deg, #9263ed, #7b61ff 91.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gray-gradient {
    background: linear-gradient(180deg, #d1d1d1 25%, #ffffff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-failed-gradient {
    background: linear-gradient(#ec6ca9, #ff5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-successful-gradient {
    background: linear-gradient(#e8adff, #5efc8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow {
    text-shadow: -6px -6px 24px rgba(136, 136, 136, 0.04),
        8px 8px 10px rgba(87, 87, 87, 0.24);
}

.inset-shadow {
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.box-shadow {
    box-shadow: inset 1px 1px 1px rgba(68, 68, 68, 0.05),
        inset -1px -1px 4px rgba(134, 134, 134, 0.12), 8px 8px 10px #181818;
}

.font-kanit-regular {
    font-family: 'Kanit-Regular';
}

.font-kanit-medium {
    font-family: 'Kanit-Medium';
}

.tab-border {
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.shadow {
    --tw-shadow: '';
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

#walletconnect-wrapper {
    z-index: 30 !important;
}
